In [1]:
# append insert extend

In [2]:
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [3]:
a = []
n = int(input("Enter the n "))
for i in range(n):
    x = input("Enter the x: ")
    a.append(x)
print(a)

Enter the n 2
Enter the x: CHasndra
Enter the x: chandra
['CHasndra', 'chandra']

In [7]:
#insert
a = ['Apple', 'Ball', 'Cat']
a.insert(1, "APe")
print(a)

['Apple', 'APe', 'Ball', 'Cat']

In [9]:
#extend
a = ['Apple', 'Ball', 'Cat']
b = ['DD', "CC"]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'DD', 'CC']

In [18]:
#Update
a = ['Apple', 'Ball', 'Cat', 'DD', 'CC']
a[3] = 'App'
a

['Apple', 'Ball', 'Cat', 'App', 'CC']

In [19]:
#Delete (del,remove,pop)

In [28]:
a = ['Apple', 'Ball', 'Cat', 'App', 'CC']
del a[0]
print(a)

['Ball', 'Cat', 'App', 'CC']

In [30]:
# Delete multiple times
a = ['Apple', 'Ball', 'Cat', 'App', 'CC']
del a[0:2]
print(a)

['Cat', 'App', 'CC']

In [31]:
# Cant remove mutiple value by remove
a = ['Apple', 'Ball', 'Cat', 'App', 'CC']
a.remove("Apple")
print(a)

['Ball', 'Cat', 'App', 'CC']

In [35]:
a = ['Apple', 'Ball', 'Cat', 'App', 'App']
b = a.count("App")
for i in range(b):
    a.remove("App")
    print(a)

['Apple', 'Ball', 'Cat', 'App']
['Apple', 'Ball', 'Cat']

In [53]:
a = ['App', 'Ball', 'Cat', 'Apple', 'App']
for i in range(len(a)):
    if a[i] == "App":
       print(i)

0
4

In [49]:
#pop
a = ['App', 'Ball', 'Cat', 'Apple', 'App']
a.pop()
a

['App', 'Ball', 'Cat', 'Apple']

In [51]:
a = ['App', 'Ball', 'Cat', 'Apple', 'App']
b = a.pop(3)
print(b)

Apple

In [55]:
a = " Apple 20 233 244\nPop 30 345 345"
x = a.split("\n")
x

[' Apple 20 233 244', 'Pop 30 345 345']

In [59]:
#list inside list
a = [[1,2,3],
    [3,4,5],
    [5,6,7]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]
<class 'list'>
3

In [60]:
a = [["Sam", 22, "Ktm"],
    ["Pop", 23, "Pkr"],
    ["Lop", 25, "Bkt"]]

In [64]:
data = []
a = " Apple 20 233 244\nPop 30 345 345"
a.split("\n")

[' Apple 20 233 244', 'Pop 30 345 345']

In [63]:
data = []
a = " Apple 20 233 244\nPop 30 345 345"
x = a.split("\n")
for i in x:
    x = i.split()
    data.append(x)
data

[['Apple', '20', '233', '244'], ['Pop', '30', '345', '345']]

In [ ]:
#Wap to create a billing system list inside the list

In [3]:
data = []
item = int(input("Enter the value: "))
for i in range(item):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    add = input("Enter address: ")
    total = f"{name} {age} {add}"
    x = total.split()
    data.append(x)
print(data)

Enter the value: 2
Enter name: CHandra
Enter age: 27
Enter address: Pkr
Enter name: Jyoti
Enter age: 25
Enter address: PKr
[['CHandra', '27', 'Pkr'], ['Jyoti', '25', 'PKr']]

In [10]:
data=[]
n=int(input("Enter number of n:"))
for i in range(n):
    a =input("Enter name: ")
    b =int(input("Enter quantity: "))
    p =int(input("Enter price: "))
    s =b*p
    d = f"{a} {b} {p} {s}"
    t = d.split()
    data.append(t)
        
print(data)

Enter number of n:2
Enter name: Pop
Enter quantity: 23
Enter price: 2
Enter name: App
Enter quantity: 24
Enter price: 55
[['Pop', '23', '2', '46'], ['App', '24', '55', '1320']]

In [13]:
data=[]
n=int(input("Enter number of n:"))
for i in range(n):
    name =input("Enter name: ")
    quantity =int(input("Enter quantity: "))
    price =int(input("Enter price: "))
    total = quantity * price
    add = [name, quantity, price, total]
    data.append(add)
print(data)

Enter number of n:2
Enter name: ee
Enter quantity: 2
Enter price: 3
[['ee', 2, 3, 6]]
Enter name: 1
Enter quantity: 2
Enter price: 3
[['ee', 2, 3, 6], ['1', 2, 3, 6]]

In [43]:
a = [["Ram", 23, "Ktm"],
     ["Sam", 24, "Pkr"]]
name = input("Enter name: ")
for i in a:
         if name in i:
            print(i)

Enter name: ram

In [34]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
a[0][1]

2

In [46]:
a = [["Ram", 23, "Ktm"],
     ["Sam", 24, "Pkr"],
     ["Sita", 34, "Ktm"]]
a[0] = ["Nina", 22, "Dharan"]
a

[[['Nina', 22, 'Dharan'], 23, 'Ktm'], ['Sam', 24, 'Pkr'], ['Sita', 34, 'Ktm']]

In [54]:
a = [["Ram", 23, "Ktm"],
     ["Sam", 24, "Pkr"],
     ["Sita", 34, "Ktm"]]
a[0][0] = "hairy"
print(a)

[['hairy', 23, 'Ktm'], ['Sam', 24, 'Pkr'], ['Sita', 34, 'Ktm']]

In [59]:
a = [["Ram", 23, "Ktm"],
     ["Sam", 24, "Pkr"],
     ["Sita", 34, "Ktm"]]
del a[0][1]
print(a)

[['Ram', 'Ktm'], ['Sam', 24, 'Pkr'], ['Sita', 34, 'Ktm']]

In [65]:
a = [["Ram", 23, "Ktm"],
     ["Sam", 24, "Pkr"],
     ["Sita", 34, "Ktm"]]
name = input("Enther the name: ")
for i in a:
    if name in i: 
        a.remove(i)
print(a)

Enther the name: Ram
[['Sam', 24, 'Pkr'], ['Sita', 34, 'Ktm']]

In [79]:
## WAP to create matrix
m = []
r = int(input("Enter row: "))
c = int(input("Enter column: "))
for i in range(r):
    y = []
    for j in range(c):
         x = int(input("Enter x: "))
         y.append(x)
    m.append(y)
print(m)

Enter row: 2
Enter column: 2
Enter x: 2
Enter x: 2
Enter x: 2
Enter x: 2
[[2, 2], [2, 2]]