In [1]:
# loop in python
# while
# for

In [2]:
# for 
# range(5) = 0,1,2,3,4 for(1 = 0; i<5; i++)
# range(1,5) = 1,2,3,4 for(i = 1: i<5; i++)
# range(1,5,2) = 1,3 for(i = 1: i<5; i+2)

In [5]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [13]:
for i in range(1, 5):
    print(i, "Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [18]:
for i in range(1, 5, 3):
    print(i, "Hello World")

1 Hello World
4 Hello World

In [26]:
n = int(input("Enter the value n = "))
for i in range(1,11):
    print(n*i)

Enter the value n = 5
5
10
15
20
25
30
35
40
45
50

In [31]:
n = int(input("Enter the value n = "))
for i in range(1,11):
    print(n,"*",i, "=", n*i)

Enter the value n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [38]:
s = 0
n = int(input("Enter the value n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print(s)

Enter the value n = 6
Enter x = 34
34
Enter x = 34
68
Enter x = 34
102
Enter x = 3
105
Enter x = 434
539
Enter x = 33
572

In [46]:
s = str()
n = int(input("Enter value: "))
for i in range(n):
    name = input("Enter name = ")
    s = s+name+"\n"
    
print(s)

Enter value: 2
Enter name = Chandra
Enter name = Pratap
Chandra
Pratap

In [59]:
s = str()
n = int(input("Enter value: "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+name+ " " + phone + "\n"
    
print(s)

Enter value: 2
Enter name = Chandra
Enter phone = 980
Enter name = Chandra
Enter phone = 980
Chandra 980
Chandra 980

In [62]:
#factorial 
f = 1
n = int(input("Enter the n = "))
for i in range (1, n+1):
    f = f*i
    print(f)

Enter the n = 5
1
2
6
24
120

In [63]:
# Write a program to create a billing system 
# Product price quatity 
#total = price*quality
# string format

In [1]:
data = str()
n = int(input("Enter value n: "))

for i in range(n):
    name = input("Enter the Product name = ")
    price = int(input("Price of the product = "))
    quantity = int(input("Quantity of the product = "))
    total = price*quantity
    bill = name+" "+str(price)+" "+str(quantity)+" "+str(total) + "\n"
    data = data+bill
print(data)

Enter value n: 2
Enter the Product name = app
Price of the product = 23
Quantity of the product = 234
Enter the Product name = pll
Price of the product = 234
Quantity of the product = 23
app 23 234 5382
pll 234 23 5382

In [77]:
a = "Python"
for i in a:
    print(i, "Hi")

P Hi
y Hi
t Hi
h Hi
o Hi
n Hi

In [79]:
a = "Hi Planet"
for j in a:
    print(j)

H
i

P
l
a
n
e
t

In [92]:
a = "Hi Planet"
for j in a:
    if j != " ":
        print(j,end = "")

HiPlanet

In [117]:
a = "Hi Planet."
for j in a:
    if j != " " and j != "." and j != "t":
        print(j,end = "")

HiPlane

In [99]:
# Control statement 
# break
# continue
# break

In [105]:
#break 
for i in range(10):
    if i ==5:
         break
    print(i)
print("Hi")

0
1
2
3
4
Hi

In [115]:
a = "Hi Planet"
for j in a:
    if j == " ":
        break
    else: 
        print(j,end = "")

Hi

In [124]:
#continue means skip 
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [125]:
a = "Hello World"
for i in a:
    if i == " ":
        continue
    else:
        print(i, end = "")

HelloWorld

In [128]:
for i in range(1, 21):
    if i%2 !=0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20