# python collection
# list 
# tuple 
# dictionary
# set

In [2]:
# list
# Take multiple value
# Indexed
# Ordered
# Mutable

In [8]:
#Mutiple Value
a = ["Apple", 'Banana', "Cat", "Dog"]
b = [1,2,3,4,5]
print(a)
print(b)

['Apple', 'Banana', 'Cat', 'Dog']
[1, 2, 3, 4, 5]

In [11]:
a = ["Apple", 'Banana', "Cat", "Dog"]
print(a[0])
print(a[0:3])
print(a[0:3:2])

Apple
['Apple', 'Banana', 'Cat']
['Apple', 'Cat']

In [14]:
a = ["Apple", 'Banana', "Cat", "Dog"]
b =["Pine", "Pop"]
print(a+b)
print(b+a)

['Apple', 'Banana', 'Cat', 'Dog', 'Pine', 'Pop']
['Pine', 'Pop', 'Apple', 'Banana', 'Cat', 'Dog']

In [15]:
a = ["Apple", 'Banana', "Cat", "Dog"]
print(a*2)

['Apple', 'Banana', 'Cat', 'Dog', 'Apple', 'Banana', 'Cat', 'Dog']

In [17]:
a = []
b = ["Pine"]
a = a+b
print(a)

['Pine']

In [29]:
a = []
n = int(input("Enter the value n: "))
for i in range(b):
    x = int(input("Enter the value: "))
    a = a+[x]
print(a)

Enter the value n: 3
Enter the value: 23
Enter the value: 22
[23, 22]

In [31]:
print("Max value", max(a))
print("Min value", min(a))
print("Sum value", sum(a))
print("Avg value", sum(a)/n)
a.sort()
print(a)
a.reverse()
print(a)

Max value 23
Min value 22
Sum value 45
Avg value 15.0
[22, 23]
[23, 22]

In [37]:
#Special caractor give priority
a = ["cat", "mat", "ate", "Ape", "Chan", "1Lop"]
a.sort()
print(a)
a.reverse()
a

['1Lop', 'Ape', 'Chan', 'ate', 'cat', 'mat']

['mat', 'cat', 'ate', 'Chan', 'Ape', '1Lop']

In [53]:
a = ["cat", "mat", "ate", "Ape", "Chan", "Lop"]
search = input("Enter search = ")
if search in a:
    print("Yes",a.count("cat"))
else:
    print("No")

Enter search = cag
No

In [68]:
# Wap to search case insensitive value from list
a = ["cat", "mat", "ate", "Ape", "Chan", "Lop"]
search = input("Enter search = ")
for search in a:
     print("Yes")

Enter search = cgg
Yes
Yes
Yes
Yes
Yes
Yes