# Set
# No indexing 
# No dupicate 
# Unordered 
# Mutable

In [3]:
a = {1,2,3,4}
print(type(a))

<class 'set'>

#Output unordered
a = {"Apple", "Bob", "Call", "Olive"}
print(a)

In [8]:
#No dublicate
a = {1,1,1,2,3,4,34,3,23,23}
print(a)

{1, 2, 3, 4, 34, 23}

In [12]:

a = {"Apple", "Bob", "Call", "Olive"}

print(a[0])

TypeError: 'set' object is not subscriptable

In [14]:
a = {"Apple", "Bob", "Call", "Olive"}
for i in a:
    print(i)

Olive
Call
Apple
Bob

In [16]:
a = set()
n = int(input("Enter the value: "))
for i in range(n):
    name = input("Enter the name")
    a.add(name)
print(a)

Enter the value: 3
Enter the nameChandra
Enter the nameApsara
Enter the nameMamata
{'Chandra', 'Apsara', 'Mamata'}

In [17]:
a = {"Apple", "Bob", "Call", "Olive"}
b = {"Ball"}
a.update(b)
print(a)

{'Olive', 'Ball', 'Call', 'Apple', 'Bob'}

In [22]:
l = {1,2,3,4,5,6,7,8}
print(set(l))
print(list(set(l)))

{1, 2, 3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy"}

app.intersection(ms)

{'Hari', 'Olive'}

In [24]:
app.union(ms)

{'Hari',
 'Harry',
 'Katy',
 'Kevin',
 'Larry',
 'Mark',
 'Olive',
 'Ram',
 'Sam',
 'Sarry'}

In [25]:
app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy"}
app - ms

{'Harry', 'Larry', 'Ram', 'Sam', 'Sarry'}

In [26]:
app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy"}
app.difference(ms)

{'Harry', 'Larry', 'Ram', 'Sam', 'Sarry'}

In [27]:
app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy"}
ms.difference(app)

{'Katy', 'Kevin', 'Mark'}

In [28]:
u = {'Hari','Harry','Katy','Kevin','Larry','Mark','Olive','Ram','Sam','Sarry','Mamata','Sita'}

app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy"}

un = ms.union(app)
u.difference(un) # u - un

{'Mamata', 'Sita'}

In [29]:
a ={['Hari','Harry','Katy'],['Kevin','Larry','Mark']}
print(a)

TypeError: unhashable type: 'list'

In [30]:
a ={('Hari','Harry','Katy'),('Kevin','Larry','Mark')}
print(a)

{('Hari', 'Harry', 'Katy'), ('Kevin', 'Larry', 'Mark')}

In [31]:
app = {"Ram","Sam","Hari","Harry","Larry","Olive","Sarry"}
ms = {"Mark", "Kevin", "Hari", "Olive", "Katy","Ram"}
linux = {"Lori", "Ram"}
app.intersection(ms,linux)

{'Ram'}