In [2]:
# TUPLE
# indexed
# ordered 
# multiple and duplicate value
# Immutable

In [3]:
a = (1,2,3,4)
print(type(a))
a

<class 'tuple'>

(1, 2, 3, 4)

In [4]:
a = (1,2,3,4,5)
print(a[0])
print(a[0:3])

1
(1, 2, 3)

In [5]:
a = (1,2,3,4)
b = (6,7,5)
c = a+b
print(c)

(1, 2, 3, 4, 6, 7, 5)

In [7]:
#needs comma to be tuple
a = ("App",)
print(a)
print(type(a))

('App',)
<class 'tuple'>

In [11]:
t = tuple()
n = int(input("Enter the n: "))
for i in range(n):
    x = int(input("Enter the value: "))
    t = t+(x,)
print(t)

Enter the n: 5
Enter the value: 6
Enter the value: 5
Enter the value: 4
Enter the value: 3
Enter the value: 2
(6, 5, 4, 3, 2)

In [21]:
a = (1,2,3,4)
b = list(a)
print(b)
del b[0]
print(b)
tuple(b)

[1, 2, 3, 4]
[2, 3, 4]

(2, 3, 4)

In [32]:
a = [['Chandra ', 26, 'PKR'], ['Jyoti', 24, 'HK']]
t = ()
for i in a:
    x =tuple(i)
    t =t+(x,)
print(t)

(('Chandra ', 26, 'PKR'), ('Jyoti', 24, 'HK'))

In [26]:
t = tuple()
n = int(input("Enter the n: "))
for i in range(n):
    name = input("Enter the name: ")
    age = int(input("Enter the age: "))
    add = input("Enter address: ")
    t = t+((name, age, add),)
print(t)

Enter the n: 2
Enter the name: Chandra
Enter the age: 26
Enter address: PKR
Enter the name: Jyoti
Enter the age: 24
Enter address: HK
(('Chandra ', 26, 'PKR'), ('Jyoti', 24, 'HK'))

In [43]:
m = ()
r = int(input("Enter the r: "))
c = int(input("Enter the c: "))
for i in range(r): 
    y = ()
    for j in range(c): 
        x = int(input("Enter the x: "))
        y = y+(x,)
    m = m+(y,)
print(m)

Enter the r: 2
Enter the c: 2
Enter the x: 2
Enter the x: 2
Enter the x: 2
Enter the x: 2
((2, 2), (2, 2))

In [1]:
a = (1,2,3)
b = (4,5,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6)